* {
    box-sizing: border-box;
}

.middle {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/background-blue.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#content {
    width: 50%;
    height: 50%;
    overflow: auto;
    border: 2px solid black;
}

.card {
    border: 1px solid black;
    width: 18%;
}

#content, .card {
    background-color: transparent;
    border-radius: var(--bs-border-radius);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

#search-bar {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    #content {
        width: 75%;
    }
}